__pycache__/
.pytest_cache/
.ruff_cache/
venv/
.venv/

# Ignore secrets and local configs:
.env
.env.*
!.env.example
config.yaml
!config.yaml.example



# Ignore Logs
*.log
logs/

# Ignore wireshark captures
*.pcap
*.pcapng


# Ignore RouterOS packages
*.npk



# Editor and OS files
.vscode/
Thumbs.db
desktop.ini

# Test coverage reports (for later)
.coverage
htmlcov/